* {
    font-family: Verdana, sans-serif, Arial;
}

body {
    margin-top: 0;
    padding-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

html {
    margin-top: 0;
    padding-top: 0;
}

/* ----------------------- HEADER ------------------------- */

header {
    height: 64px;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: white;
}

header h3 a {
    text-decoration: none;
    color: black;
}

.header-content-desktop {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin-right: 24px;
    margin-left: 24px;
}

header .logo {
    flex: 1;
}

.header-content-desktop h3{
    font-weight: normal;
    font-size: 24px;
}

header h3 span {
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style-type: none;
}


nav li {
    padding-left: 16px;
    font-size: 18px;
    text-align: right;
}

nav a {
    vertical-align: center;
    text-decoration: none;
    color: darkslategrey;
}

.header-content-mobile {
    display: none;
}

/* ---------------- MOBILE HEADER ---------------- */

@media only screen and (max-width: 650px) {
    header {
        height: 64px;
        position: fixed;
        z-index: 100;
        width: 100%;
        background-color: white;
        margin: 0px;
    }

    header .header-content-desktop {
        display: none;
    }

    .header-content-mobile {
        display: flex;
        width: 100%;
    }

    .mobile-img {
        width: 25%;
    }

    .mobile-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/* -------------------- Introduction Section ------------------------- */

.introduction-desktop
{
    position: relative;
    top: 64px;
    display: flex;
    width: 100%;
    background-color: rgb(212, 220, 228);
    padding-bottom: 24px;
    margin-bottom: 32px;
}

.introduction-desktop img {
    margin-left: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    width: 60%;
    align-content: center;
}

.introduction-desktop-content {
    display: inline;
    margin-left: 24px;
}

.introduction-desktop-content h1 {
    font-size: 54px;
}

.introduction-desktop-content h2 {
    font-size: 32px;
    font-weight: normal;
}

button {
    text-align: center;
    color: white;
    background-color: rgb(78, 66, 66);
    z-index: 10;
    padding: 10px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 4px;
    width: 300px;
    position: relative;
    left: 15%;
    font-weight: bold;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: skyblue;
    color: black;
}

.introduction-mobile {
    display: none;
}

/* ---------------- MOBILE INTRODUCTION ---------------- */
@media only screen and (max-width: 650px) {
    .introduction-desktop {
        display: none;
    }

    .introduction-mobile {
        width: 100%;
        display: block;
        background-color:rgb(212, 220, 228);
    }

    .introduction-mobile img {
        width: 100%;
    }

    .introduction-mobile h1 {
        margin-left: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .introduction-mobile h2 {
        margin-bottom: 24px;
        margin-left: 16px;
    }

    .introduction-mobile button {
        margin-left: 16px;
        margin-bottom: 32px;
    }
}

/* ---------------------- INFORMATION SECTION --------------------------- */

.information-desktop {
    display: flex;
    background-color: rgb(235, 241, 247);
}

.feature-article {
    margin: 32px 24px;
    width: 60%;
}

.feature-article h1 a {
    text-decoration: none;
    color: black;
}

.feature-article img {
    margin-top: 32px;
    width: 100%;
}

.feature-article:hover {
    background-color:rgb(212, 220, 228);
}

.other-info {
    width: 40%;
    margin-left: 16px;
    margin-top: 32px;
}

.other-info img {
    width: 35%;
    height: auto;
}

.orientation-info {
    display: flex;
    margin-top: 32px;
}

.orientation-info-text {
    width: 65%;
    margin-left: 16px;
}

.orientation-info:hover {
    background-color:rgb(212, 220, 228);
}

.ourcampus-info {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.ourcampus-info-text {
    width: 65%;
    margin-left: 16px;
}

.ourcampus-info:hover {
    background-color:rgb(212, 220, 228);
}

.guestlecture-info {
    display: flex;
    margin-top: 16px;
    margin-bottom: 16px;
}

.guestlecture-info-text {
    width: 65%;
    margin-left: 16px;
}

.guestlecture-info:hover {
    background-color:rgb(212, 220, 228);
}

.information-mobile {
    display: none;
}

/* ---------------- MOBILE INFORMATION ---------------- */
@media only screen and (max-width: 650px) {
    .information-desktop {
        display: none;
    }

    .information-mobile {
        display: block;
        background-color:rgb(235, 241, 247);
    }

    .orientation-info-mobile {
        display: block;
        width: 100%;
        padding-top: 16px;
        margin-right: 16px;
        margin-bottom: 64px;
        margin-left: 16px;
    }
    
    .ourcampus-info-mobile {
        display: block;
        width: 100%;
        margin: 0px 16px 64px 16px;
    }
    
    .guestlecture-info-mobile {
        display: block;
        width: 100%;
        margin-top: 0px;
        margin-right: 16px;
        padding-bottom: 32px;
        margin-left: 16px;
    }
    
    .information-mobile h3, p, a {
        margin-left: 16px;
        margin-right: 16px;
    }

    .information-mobile img {
        width: 93.5%;
    }
}



/*  ------------------------- CLASSES SECTION ---------------------------  */

#classes-title {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color:rgb(212, 220, 228);
}

.classes-desktop {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 72px;
    padding-bottom: 32px;
    justify-content: center;
    background-color: rgb(212, 220, 228);
}

.classes-desktop img {
    width: 360px;
    height: auto;
}

.class-1 {
    flex: 0 0 200px;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: white;
}

.class-2 {
    flex: 0 0 200px;
    margin-right: 32px;
    margin-bottom: 32px;
    background-color: white;
}

.class-3 {
    flex: 0 0 200px;
    margin-bottom: 32px;
    background-color: white;
}

.class-4 {
    flex: 0 0 200px;
    margin-right: 32px;
    background-color: white;
}

.class-5 {
    flex: 0 0 200px;
    margin-right: 32px;
    background-color: white;
}

.class-6 {
    flex: 0 0 200px;
    background-color: white;
}

.classes-desktop h3 {
    margin-top: 16px;
    margin-left: 16px;
}

.classes-desktop p {
    margin-top: 8px;
    margin-left: 16px;
    margin-bottom: 24px;
}

.classes-mobile {
    display: none;
}

/* ---------------- MOBILE CLASSES ---------------- */
@media only screen and (max-width: 650px) {
    .classes-desktop, #classes-title {
        display: none;
    }

    .classes-mobile {
        background-color: rgb(235, 241, 247);
        width: 100%;
        display: block;
        padding-bottom: 16px;
    }

    .classes-mobile h1 {
        padding-top: 32px;
        margin-top: 0px;
        margin-bottom: 16px;
        text-align: center;
        background-color: rgb(235, 241, 247);
    }

    .classes-mobile h2 {
        text-align: left;
        padding: 16px 0px 16px 16px;
        margin: 0px 16px 8px 16px;
        background-color:rgb(212, 220, 228);
    }

    .classes-mobile a {
        text-decoration: none;
        color: black;
    }
}

/* ----------------------- THESIS EXHIBIT ---------------------- */

#thesis-title {
    padding-top: 32px;
    padding-bottom: 32px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    background-color:rgb(235, 241, 247);
}

.thesis-desktop {
    display: flex;
    width: 100%;
    background-color:rgb(235, 241, 247);
    margin-left: 0;
}

.feature-video {
    width: 60%;
    margin-right: 24px;
}

.feature-video video {
    width: 100%;
    height: auto;
    margin-left: 24px;
}

.feature-video h2 {
    margin-top: 24px;
    margin-bottom: 8px;
    margin-left: 24px;
}

.feature-video p {
    margin-top: 0;
    margin-bottom: 32px;
    margin-left: 24px;
}

.other-thesis {
    width: 40%;
    margin-right: 0;
    margin-left: 24px;
}

.other-thesis img {
    width: 35%;
    height: auto;
    margin: 16px;
}

.other-thesis-1 {
    display: flex;
    width: 100%;
    margin-right: 0;
}

.other-thesis-1:hover {
    background-color:rgb(212, 220, 228);
}

.other-thesis-2 {
    display: flex;
    width: 100%;
}

.other-thesis-2:hover {
    background-color:rgb(212, 220, 228);
}

.other-thesis-1-text {
    display: block;
    width: 65%;
    padding-top: 30px;
}

.other-thesis-2-text {
    display: block;
    width: 65%;
    padding-top: 30px;
}

.thesis-desktop a {
    text-decoration: none;
    color: black;
}

.thesis-mobile {
    display: none;
}

/* ---------------- MOBILE THESIS EXHIBIT ---------------- */
@media only screen and (max-width: 760px) {
    .thesis-desktop, #thesis-title {
        display: none;
    }

    .thesis-mobile {
        display: block;
        width: 100%;
        background-color: rgb(235, 241, 247);
    }

    .thesis-mobile h1 {
        padding-top: 32px;
        padding-bottom: 16px;
        margin-top: 0px;
        text-align: center;
    }

    .thesis-mobile video {
        width: 100%;
        padding-bottom: 24px; 
    }
}

/* ------------------------------ FOOTER --------------------------- */

footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 16px;
    padding-left: 24px;
    padding-right: 16px;
    padding-bottom: 8px;
    background-color:rgb(235, 241, 247);
    margin-right: 0px;
}

footer #terms-privacy {
    word-spacing: 10px;
}

/* ---------------- MOBILE FOOTER ---------------- */
@media only screen and (max-width: 760px) {
    footer #terms-privacy {
        display: none;
    }
}